@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<img src="~/c.jpeg" height="550" width="1120" />
Since the development of cheap wireless communication technologies such as Bluetooth, LTE, Wi-Fi, RFID and similar,
 automotive producers and OEMs have designed ECUs that implement such technologies with the goal of improving the 
experience of the driver and passengers. Safety-related systems such as the OnStar[2] from General Motors, telematic units, 
communication between smartphones and the vehicle's speakers through Bluetooth, Android Auto[3] and Apple CarPlay,[4] and RKES 
(Remote Keyless Entry Systems) are just examples of how the vehicle has become externally connected to devices and, in some cases, 
to the internet. Furthermore, since 2016, with the development and implementation in marketed vehicles of V2X technologies, the
 long- and short-range communication interfaces of the vehicle have become considerably bigger.
